body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider {
    display: flex;
}

.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 20px;
}

#file-input {
    display: none;
}

.drag-drop-area {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    cursor: pointer;
    background-color: #f72b2b; 
    color: white;           
    border-radius: 10px;
}

.drag-drop-area:hover, 
.drag-drop-area.drag-over {
    background-color: #cf0101; 
    border-color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0s;
}

.pagination button.active {
    background-color: rgb(253, 55, 55);
    color: white;
}

